.App {
  text-align: center;
  /* background-color: #1D2933; */
  color: white;
  /* border: solid rgb(221, 44, 44) 1px; */
  font-size: calc(30px + 2vmin);
  /* font-style: italic; */
}

/* .Home_Background {
  background-image: url("./images/chemco.png");
  background-repeat: no-repeat;
  min-height: 80vh;
  display: flex;
  border: solid red 1px;
  background-size: cover;
} */

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
}

.logoimage {
  width: 10%;
}

.HeaderAlign {
  align-items: flex-start;
  flex-direction: row;
  position: absolute;
  font-size: calc(10px + 2vmin);
  top: 15px;
}

.IconAlign {
  position: absolute;
  right: 1%;
  font-size: calc(10px + 2vmin);
  top: 3%;
  font-family: sans-serif;
}

.logout {
  position: absolute;
  right: 10%;
  top: 0.5%;
  width: 8%;
}

.TopSection {
  /* border: solid red 1px;  */
  background-color: #1D2933;
}

.NoMatchBackground {
  background-color: #141e26;
  min-height: 80vh;
}

.Info-Tab {
  /* background-color: #0d151b; */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  font-size: calc(5px + 2vmin);
  color: white;
  float: left;
  /* border: solid red 1px; */
  width: 15%;
}

.inquirybackground {
  /* background-color: #0d151b; */
  min-height: 80vh;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: center;
  color: rgb(255, 255, 255);
  /* border: solid red 1px; */
  font-size: calc(15px + 2vmin);
}

.background {
  /* background-color: #0d151b; */
  min-height: 80vh;
  max-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: center;
  color: rgb(255, 255, 255);
  /* border: solid red 1px; */
  font-size: calc(15px + 2vmin);
}

.home {
  /* background-color: #0d151b; */
  min-height: 80vh;
  max-height: 80vh;
  display: flex;

  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  /* float: center; */
  /* border: solid rgb(238, 255, 0) 1px; */
}

/* Bottom Side of Square 9 form */
/*.Square-9background {
  background-color: #141e26;
  max-height: 80vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; 
  align-items: flex-start;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  /* border: solid red 1px; 
  font-size: calc(10px + 2vmin);
}*/

/* Top Side of Square 9 form */
.Square-9top {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: calc(10px + 2vmin);
  background-color: #141e26;
  color: white;
  /* border: solid blue 1px; */
}

.Square-9bottom {
  font-size: calc(10px + 2vmin);
  background-color: #141e26;
  min-height: 20vh;
  max-height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.addBorder {
   border: solid white 1px;
}

.Search {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(3px + 2vmin);
  color: black;
  /* border: solid brown 1px; */
  position: absolute;
  top: 12%;
  left: 41%;
}

.Search_icon {
  font-size: calc(10px + 2vmin);
  color: white;
}

.a {
  text-decoration: none;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.SearchdatabaseField {
  max-height: 80vh;
  font-size: calc(5px + 2vmin);
  display: flex;
  color: black;
  background-color: #141e26;
  /* justify-content: space-between; */
  align-items: center;
  margin: 3px;
  border-radius: 3px;
  padding: 10px;
  /* /* flex-direction: row; */
  /* flex-wrap: wrap;  */
}

.DatabaseOutput {
  background-color: #141e26;
  max-height: 100%;
  min-height: 80vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  /* border: solid red 1px; */
  font-size: calc(10px + 2vmin);
}